<a href="https://colab.research.google.com/github/Pigcatdof/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result += i
    i += 1
print("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

In [ ]:
i= 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result += i
    i += 1
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [ ]:
n = int(input("請輸入正整數: "))
for i in range(1,n+1):
    for j in range(i,n+1):
       print("*",end=" ")
    print()

請輸入正整數: 8
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
sum=0
for i in range(1,101):
    if(i%3==0 or i%7==0):
       sum+=i
print("數值1~100中,所有是3或7的的倍數的數之總和＝",sum)

數值1~100中,所有是3或7的的倍數的數之總和＝ 2208

In [1]:
list1 = [1,2,3,4,5,]

In [2]:
list1

[1, 2, 3, 4, 5]

In [3]:
list2 = ["香蕉","蘋果","橘子"]

In [4]:
list2

['香蕉', '蘋果', '橘子']

In [6]:
list3 = [1,"香蕉", True]

In [7]:
list3

[1, '香蕉', True]

In [8]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [9]:
print(list5[1])

['mary', 'abcd']

In [10]:
print(list5[0])

[['tom', '1234']]

In [11]:
print(list5[1][1])

abcd

In [17]:
print(list5[0][0])

['tom', '1234']

In [18]:
print(list5[1][0])

mary

In [19]:
scores = [85,79,93]
print("國文成績: %d分" % scores[0])
print("數學成績: %d分" % scores[1])
print("英文成績: %d分" % scores[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [20]:
list6=[1,2,3,4,5]

In [21]:
print(list6[0])

1

In [22]:
list6[0] = 9

In [23]:
print(list6[0])

9

In [24]:
print(list6)

[9, 2, 3, 4, 5]

In [25]:
list7 = ["香蕉","蘋果","橘子"]

In [26]:
for s in list7:
    print(s, end= ",")

香蕉,蘋果,橘子,

In [28]:
items = [123,'apple',True]
for item in items:
   print(item)

123
apple
True

In [29]:
scores = [85,79,93]

In [30]:
print(len(scores))

3

In [33]:
scores = ['國文成績:85分','數學成績:79分','英文成績:93分']
for i in range(len(scores)):
   print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [34]:
num=['編號:1 姓名:Tom','編號:2 姓名:Mary','編號:3 姓名:tony']
for i in range(len(num)):
   print(num[i])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:tony